/* ESTILOS PARA LA CABECERA */

.topHeader{
    width: 100%;
    text-align: right;
    margin: auto;
    font-family: monospace;
    background-color: rgb(61, 44, 37);
    background-image: url(../imagenes/img/fondo.jpg);
}

.topHeader h1{
    text-align: justify;
    color: #CFD8DC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topHeaderLogo img{
    width: 100px; height: 100px;
    float: left;
}

.topHeaderLogo {
    width: 100%;
    height: 30px;
    margin: auto;
}

.topHeader a{
    text-decoration: none;
    color: rgb(238, 238, 238);
}

.topHeader a:hover{
    color: #E74C3C;
}

.nombreUser{
    font-weight: bold;
}

.encabezado{
    background:rgb(255, 253, 253);
    width: 100%;
    height: 40px;
    margin: auto;
}

.menu {
    min-width: 80%;
    width: 10%;
    float: left;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu ul {
    list-style: none;
}


.menu a{
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu > ul > li > a{
    border: 0.5px solid gray;
    background: none;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu > ul > li > ul > li > a {
    background: white;
    color: black;
    
}

.menu > ul > li{
    width: 15%;
    float: left;
}

.menu li a:hover {
    background-color: rgb(167, 53, 0);
}

.menu li ul{
    display: none ;
    position: absolute;
    min-width: 15%;
}

.menu li:hover > ul {
    display: block;
    border: 1px solid gray;
}

.carrito{
    
    float: left;
    margin-left: 5px;
}

.carrito img{
    width: 30px;
    height: 30px;
    padding: 10px 5px;
    display: block;
    float: left;
}

.contenidoPie img{
    width: 100px; height: 100px;
}
.carrito a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    padding: 14px 5px
}

/* ESTILOS PARA EL BODY DE HOME.HTML */

body {
    
    background-image: url(../imagenes/img/ingredientes-pizza-costuras_1176-269.jpg);

}

.categorias{
    width: 20%;
    float: left;
}

.categorias h3{
    margin-top: 5px;
    padding: 15px 20px;
    background: #E74C3C;
    color: whitesmoke;
}

.categorias a{
    text-decoration: none; 
    color: black;
}

.categorias a:hover{ 
    color: red;
}

.categorias ul{
    list-style: none;
    padding: 0 10px;
}

.categorias li{
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #CFD8DC;
}

.imagenesContenido{
    padding: 10px 15px;
    width: 77%;
    height: 400px;
    float: left;
}

.imagenesContenido #imagen{
    width: 100%;
    height: 390px;
}

.contenido {
    margin: 2px;
    padding: 5px;
}

.contenido h2{
    color:  rgb(207, 169, 0);
    text-align: center;
}

.contenido h4{
    color: white;
    margin: 10px;
    padding: 5px;
    text-align-last: center;
}

.contenido div{
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(58, 58, 58);
}


.contenido1 h2{
    color: rgb(207, 169, 0);
    text-align: center;
}

.upsLog{
    float: left;
}
 
.contenido1 img{
    padding: 80px 5px;
    display: block;
    float: left;
}

.contenido1 h3{
    padding: 15px 250px;
    color: rgb(22, 236, 218);
    text-align: center;
}

.contenido1 h2{
    padding: 10px 20px;
    color:rgb(207, 169, 0);
    text-align: center;
}

.upsLog{
    float: left !important;
    padding: 0px 40px;;
}
/* ESTILOS PARA EL FOOTER*/

.contenidoPie{
    margin-top: 5px;
    clear: both;
    width: 100%;
    background:rgb(57, 57, 58);
    background-image: url(../imagenes/img/fondo2.jpg);
    float: left; 
    position: relative;
    text-size-adjust: 100%;
    display: block;
}

.infoPie{
    width: 30%;
    float: left;
    margin: 0 20px;
    text-align: center;
    color: black;
}

.tituloDetalleInfoPie{
    font-weight: bold;
}
.textoDetalleInfoPie{
    font-weight: lighter;

}
.pieNombre{
    border: 0.5px solid white;
    margin-top: 40px;
    clear: both;
    width: 100%;
    background:rgb(57, 57, 58);
    background-image: url(../imagenes/img/fondo.jpg);
    float: left; 
    color: #CFD8DC;
    text-align: center;

}
.derechos{
    border-top: 1px #CFD8DC solid;
    width: 100%;
    padding: 10px 0;
    background:rgb(57, 57, 58);
    clear: both;
    color: whitesmoke;
    text-align: center;
    background-image: url(../imagenes/img/fondo.jpg);

}
#imgcombo {
    width:400px;
    height:200px;
}
