*{
    box-sizing: initial;
    font-family: Arial, Helvetica, sans-serif

}
body{
    background: url(../imagenes/pi1.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: rale;
    
}
form{
    width: 60%; 

}
.contenedor{
    width: 60%;
    align-items: center;
    display: flex;
    padding: 20px 170px;
    margin: 20px;
    margin-block: 34px;     
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.foto{
    align-self:center;
    margin: auto;
    
}
.foto img{
    width: 150px;
    height: 100px;
    border-radius:5px; 
}
.foto input{
    width: 150px;
    margin-left:25px;

}
h2{
    color: red;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font: oblique bold 180% cursive;

}
::placeholder{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input{
    width:100%;
    margin-bottom: 18px;
    padding: 5px;
    font-size: 15px;
    background:white;
    opacity: 0.5;
    border-radius: 20px;
    color: black;    
    
} 
#boton{
    width: 80px;
    height: 20px;
    font-size: 20px;
    border: 0;
    text-align: center;
    background: linear-gradient(to bottom,green,yellow);
    color:black;
    margin-top: 1px;
    font-family: rale;
}
#boton:hover{
    width: 120%;
    margin-left: -10%;
    cursor: pointer;
    border-radius: 15
}
#boton:active{
    background-color: rgba(49, 9, 228, 0.2);
    outline: 0;
    border: 0;
    border-radius: 5px;
}



